header{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: red;
}
body{
    margin: 0;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.hiringNowtext{
 color: red;
 text-align: center;
}
.job-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 300px;
    margin: 40px auto;

}
.job-form label {
    color: red;
    margin-bottom: 5px;
    font-weight: bold;
}

.job-form input, select,span{
    padding: 8px;
    font-size: 14px;
}
button{
    background-color: red;
    padding: 10px;
    color: black;
    font-weight: bold;
}
footer{
    border: 10px solid black;
    height: 400px;
    background-color: red;
    padding: 10px;
}
footer h4,h1{
    text-align: center;
}

.footerparent{
    display: flex;
    gap: 500px;
    align-items: center;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    text-align:left;
    
    
}
footer p{
    color: black;
}
.copyrighttext{
    text-align: end;
}