header{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: red;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.hiringNowtext{
 color: red;
 text-align: center;
}
.job-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 300px;
    margin: 40px auto;

}
.job-form label {
    color: red;
    margin-bottom: 5px;
}

.job-form input {
    padding: 8px;
    font-size: 14px;
}