header{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color:#EA0029;
    color: white;
}
body{
    margin: 0;
}
.herocontainer{
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-around;
    background-color: black;
}
.img_logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.herocontainer h2{
 color:#EA0029;
 font-size: larger;
 text-align: center;
 padding: 100px;
}
.job-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 300px;
    margin: 40px auto;

}
.job-form label {
    color: #EA0029;
    margin-bottom: 5px;
    font-weight: bold;
}

.job-form input, select,span{
    padding: 8px;
    font-size: 14px;
}
.submit_btn{
    background-color:#EA0029;
    padding: 10px;
    color:white;
    font-weight: bold;
}
.Restaurant_Careers{
    display: flex;
    height: 300px;
    border: 1px solid black;
    background-color:rgb(227 0 43);
}
.imageforDink{
    width: 300px;
    height: 270px;
    padding: 15px;
}
.explore_btn{
    padding: 20px;
    background-color: black;
    color: white;
}
.socialmedia i{
    padding: 20px;
}
.socialmedia a:visited , a:link{
  color: white;
}
.socialmedia a:hover{
    color: rgb(61, 61, 177);
}
footer{
    border: 10px solid black;
    height: 400px;
    background-color:black;
    padding: 10px;
    color:white;
}
footer h4,h1{
    text-align: center;
}

.footerparent{
    display: flex;
    gap: 500px;
    align-items: center;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    text-align:left;
    
    
}
footer p{
    color:white;
}
.copyrighttext{
    text-align: end;
}